# Server Basic Config
NODE_ENV=development
PORT=5000

# DB Config 
# DATABASE_URL=postgresql://dev:dev@localhost:5432/medical_db
DATABASE_URL=postgresql://user:password@localhost:5432/postgres
# App Frontend URL
FRONTEND_APP_URL=http://localhost:3000

# better auth URL
BETTER_AUTH_URL=http://localhost:5000
BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxx


# Google Auth Config
GOOGLE_CLIENT_ID=xxxxxxxxxx-yyyyyyyyyyyyyyyyyyyyyy.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ppppppppp-O_qqqqqqqqqqqqqqqqqqqq


# Email Config
SMTP_LOGIN_BREVO=iiiiiiiiiiiii@smtp-brevo.com
SMTP_KEY_BREVO=pppppppppppppp-yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy-xxxxxxxxxxxxxxx